// diseño atomico
// metodología BEM

// Variables
	//Colores
GrisH2 = #fff
GrisH = #EDEDED
Gris = #969696
GrisB = #686B64
GrisB2 = #222222
Amarillo = #F8C816
	//Tamaños Media Query
	SizeL = 1300px
	SizeM = 940px
	SizeS = 600px
	//variables para las resdes sociales
	ImgRedes = 30px


//Funtions
spriteRedes(idred, )
// =============================================
//                 Átomos
// =============================================
*
	color GrisB2
body
	background GrisB2
h1
	background Amarillo
h2
	color Amarillo
ul
	padding-left 0px
	list-style-type none
.imgPerfil
	width 150px
	height 150px
	border-radius 50%
	border 3px solid Amarillo
	box-shadow 3px 3px 10px 5px GrisB
.imgLogo
	width 250px
.footer--img
	border-radius 15%
	width ImgRedes
	height ImgRedes
	background-image url('../img/spriteRedesSociales.png')
	// background-repeat no-repeat
	background-size ImgRedes*6 ImgRedes*2
	background-position 0px 0px
for row in  1 2 3 4 5
	if row == 1
		variableRow = 0
	else if row == 2
		variableRow = 1
	else if row == 4
		variableRow = 5
	else if row == 5
		variableRow = 2
	else
		variableRow = row
	.footer--ul li:nth-child({row}) .footer--img
		background-position -30px*variableRow 30px
		&:hover
			background-position -30px*variableRow 0px

// =============================================
//                 molecules
// =============================================
.main--title
	display flex
	justify-content space-around
	align-items center
	background Amarillo
// =============================================
//                 Organisms
// =============================================
.footer--yoContainer
	width 100%
.footer--ul
	width 100%
	display flex
	justify-content: space-around
// =============================================
//                  Template
// =============================================
.mainContainer
	position absolute
	top 0px
	left 40vw
	background GrisB
	width 45vw
	@media (max-width: SizeM)
		left 40vw
		width 60vw
	@media (max-width: SizeS)
		left 0vw
		width 100vw
.yoContainer
	display flex
	flex-direction column
	justify-content space-around
	align-items center
	width 25vw
	height 100vh
	position fixed
	top 0px
	left 15vw
	background Gris
	@media (max-width: SizeM)
		left 0vw
		width 40vw

	@media (max-width: SizeS)
		width 100vw
		left -99vw
		&:hover
			left 0vw


// =============================================
//                    Pages
// =============================================
